@use '../../../../../Resources/Scss/responsive.scss' as m;

#product-form {

  width: 20vw;

  margin: 4rem 0 0 0;

  .from_group {
    margin: 3rem 0;
  }

  .product_type_wrapper {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
  }
}