@use '../../../../../Resources/Scss/responsive.scss' as m;

#product-form {

  width: 20vw;
  margin: 4rem 0 0 0;

  @include m.mediaDown(xxl) {
    width: 40vw;
  }

  @include m.mediaDown(xl) {
    width: 50vw;
  }

  @include m.mediaDown(lg) {
    padding: 0 2rem 0 2rem;
    width: 100vw;
  }

  .from_group {
    margin: 3rem 0;

    .error {
      height: 1.1rem;
      font-size: 1.1rem;
      color: #f42626;
    }
  }

  .product_type_wrapper {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;

    .description {
      font-size: 1.1rem;
    }
  }
}